@keyframes elem-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes elem-hide {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
