.navigation {
  background-color: #fff;
}

.navigation__site,
.navigation__card {
  @include ul-style;
  text-align: center;
}

.navigation__button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -1px;

  cursor: pointer;

  font: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: $main-color;

  background-color: inherit;
  border: none;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}


@media (min-width: $desktop-width) {
  .navigation {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .navigation__site {
    display: flex;
    flex-grow: 1;

    li {
    flex-basis: 20%;
    }
  }

  .navigation__button {
    padding-top: 10px;
    padding-bottom: 10px;

    text-transform: initial;
    font-weight: 400;

    position: relative;

    border: none;
    border-bottom: 1px solid #e7e7e7;

    color: #000;

    &--active::before {
      content: "";

      position: absolute;
      top: -1px;
      left: calc(50% - 90px);

      width: 180px;
      height: 2px;

      background-color: $main-color;
    }
  }
}
