.promo {
  padding-top: 80px;

  overflow: hidden;

  background-image: url("/img/bg-top-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.promo__wrapper {
  padding-top: 20px;
  padding-bottom: 55px;

  position: relative;
  display: flex;
  flex-direction: column;
}

.promo__gift {
  z-index: 2;
}

.promo__offer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.promo__img {
  width: 220px;
  height: auto;

  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 90px;
    background-image: url("/img/bg-top-tablet.png");
  }

  .promo__img {
    width: 320px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-top: 120px;
    background-image: url("/img/bg-top-desktop.jpg");
  }

  .promo__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .promo__offer {
    flex-basis: 480px;
  }

  .promo__gift {
    flex-basis: calc(100% - 520px);
  }

  .promo__img {
    width: 100%;
    max-width: 450px;
    margin-left: -30px;
  }
}

@media (min-width: 1100px) {
  .promo__wrapper {
    min-height: 540px;
  }

  .promo__offer {
    flex-basis: 660px;
  }

  .promo__gift {
    flex-basis: calc(100% - 660px);
  }

  .promo__img {
    max-width: 550px;
  }
}
