.showcase__filter {
  @include ul-style;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 20px;

  li {
    padding: 4px;
  }
}

.showcase__btn {
  background-color: inherit;
  border: 1px solid #fff;

  min-width: 140px;
  padding: 8px;

  color: $border-second-color;
  font-weight: normal;

  &:hover {
    border: 1px solid $border-second-color;
    background-color: inherit;
  }

  &--active {
    border: 1px solid $main-color;
    color: $main-color;

    &:hover {
      border-color: $main-color;
    }
  }
}

.showcase__catalog {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 550px;
}

.showcase__product {
  width: 250px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  overflow: hidden;

  border-radius: 10px;
  box-shadow: 0 7px 7px 0 rgb(0, 0, 0, 0.1);
}

.showcase__all-btn {
  width: 230px;
  height: 50px;

  display: block;
  margin: 0 auto;
  margin-top: 20px;

  color: $main-color;
  background-color: inherit;
  border: 2px solid $main-color;

  &:hover {
    background-color: $bg-color;
  }
}

@media (min-width: $tablet-width) {
  .showcase__catalog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
}

@media (min-width: $desktop-width) {
  .showcase__btn {
    padding: 10px;
  }

  .showcase__all-btn {
    margin-top: 30px;
  }
}
