.swiper {
  width: 240px;
}

.swiper__window {
  overflow: hidden;

  margin-bottom: 10px;
  border-radius: 10px;
}

.swiper__wrapper {
  display: flex;
}

.swiper__wrapper-big {
  transition: transform 0.5s;
}

.swiper__wrapper-min {
  justify-content: space-between;
  align-items: center;
}

.swiper__slide {
  background-color: rgb(236, 236, 236);
}

.swiper__slide-big {
  min-width: 240px;
  height: 240px;
  margin-right: 5px;

  transition: translate 0.5;
}

.swiper__slide-min {
  width: 55px;
  height: 55px;

  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;

  transition: transform 0.5s;
}

.swiper__slide-min--active {
  transform: scale(0.8);
}

.swiper__img {
  display: block;

  width: 100%;
  height: 100%;
}

.swiper__slide-big img{
  object-fit: contain;
}

.swiper__slide-min img{
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .swiper {
    width: 280px;
  }

  .swiper__slide-big {
    min-width: 280px;
    height: 280px;
  }

  .swiper__slide-min {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: $desktop-width) {
  .swiper {
    width: 400px;
  }

  .swiper__slide-big {
    min-width: 400px;
    height: 400px;

    overflow: hidden;

    .swiper__img {
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  .swiper__slide-min {
    width: 90px;
    height: 90px;
  }
}
